<ion-header [translucent]="true">

    <ion-toolbar>

        <ion-buttons *ngIf="barcode.isScanning" slot="start">
            <ion-back-button default-href="#" (click)="barcode.stopScan()"></ion-back-button>
        </ion-buttons>

        <ion-title>
            Barcode scanner
        </ion-title>

        <ion-buttons *ngIf="barcode.isScanning" slot="primary">
            <ion-button (click)="barcode.toggleTorch()">
                <ng-container *ngIf="barcode.torchState; else flash">
                    <ion-icon slot="icon-only" name="flash-off-outline"></ion-icon>
                </ng-container>
                <ng-template #flash>
                    <ion-icon slot="icon-only" name="flash-outline"></ion-icon>
                </ng-template>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Barcode scanner</ion-title>
        </ion-toolbar>
    </ion-header>

    <ng-container *ngIf="!barcode.isScanning; else reticle">

        <ion-card>

            <ion-card-header>
                <ion-card-title>Demo</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                Start scanning or view the list with supported protocols for Android and IOS.
            </ion-card-content>

            <ion-button fill="clear" (click)="barcode.startScan()">
                <ion-icon slot="start" name="qr-code-outline"></ion-icon>
                Scan
            </ion-button>

            <ion-button (click)="setModal(true)" fill="clear">
                <ion-icon slot="start" name="checkbox-outline"></ion-icon>
                Supported protocols
            </ion-button>

        </ion-card>

        <ion-card *ngIf="barcode.scanResult.length > 0">

            <ion-card-header>
                <ion-card-title>Scan results</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                <ion-list>
                    <ion-item button (click)="copyToClipboard(scan.content)" *ngFor="let scan of barcode.scanResult">
                        <ion-label>
                            <p class="bold x-small">{{ scan.protocol }}</p>
                            {{ scan.content }}
                            <p class="x-small">{{ scan.timestamp | date:'H:mm, d MMM y' }}</p>
                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-card-content>

        </ion-card>
    </ng-container>

    <ng-template #reticle>
        <div class="container">
            <div class="barcode-scanner--area--container">
                <div class="square surround-cover">
                    <div class="barcode-scanner--area--outer surround-cover">
                        <div class="barcode-scanner--area--inner"></div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

    <ion-toast 
        [isOpen]="barcode.isToastOpen" 
        [message]="barcode.toastMessage"
        [duration]="5000"
        (didDismiss)="setToast(false)">
    </ion-toast>

    <ion-action-sheet
        [isOpen]="barcode.isActionSheetOpen"
        [header]="barcode.actionSheetMessage"
        [buttons]="actionSheetButtons"
        (didDismiss)="setActionSheet(false)"
    ></ion-action-sheet>

</ion-content>

<ion-modal [isOpen]="isModalOpen" (willDismiss)="setModal(false)">
    <ng-template>
        <ion-header>
            <ion-toolbar>
                <ion-buttons slot="start">
                    <ion-back-button default-href="#" (click)="setModal(false)"></ion-back-button>
                </ion-buttons>
                <ion-title>Supported protocols</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <app-supported-protocols></app-supported-protocols>
        </ion-content>
    </ng-template>
</ion-modal>